.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    .footer-policy{
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
    }

    span{
        &:first-child{
            font-weight: bold;
        }

        &:last-child{
            font-size: 14px;
        }
    }
}